.selected-email {
    padding: 0.5rem 1rem;
    display: grid;
    grid-template-columns: auto;
}

.back-to-inbox {
    margin-top: 0.5rem;
    margin-right: 0.5rem;

    height: 50px;
    width: 50px;
}