.compose-footer-left > #send-button {
    background: #1c73e8;
    color: white;
    border-top: solid gray 1px;
    border-left: solid gray 1px;
    border-right: solid gray 0.5px;
    border-bottom: solid gray 1px;
    border-radius: 10% 0% 0% 10%;
    height: 40px;
    width: 70px;
}

.compose-footer-left > #send-button-options {
    background: #1c73e8;
    border-top: solid gray 1px;
    border-right: solid gray 1px;
    border-left: none;
    border-bottom: solid gray 1px;
    border-radius: 0% 10% 10% 0%;
    width: 20px;
    height: 40px;
}

.compose-footer-left > #send-button-options > img {
    filter: brightness(0) invert(1);
    
}

.compose-area > .compose-footer-left {
    align-items: center;
    display: flex;
    position: relative;
    left: 1%;
}